
.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}

#header {
  border: solid 1px;
  height: 150px;
}

.header-image {
  background-color: #DDDDDD;
  margin: 6px;
  height: 100px;
}

.header-image .user {
  float:right;
}

ul.nav {
  clear: both;
  padding: 0px;
  margin: 6px;
  float: left;
}

ul.nav li{
  display: inline;
}

.search-form {
  margin: 6px;
  float: right;
}

#main {
  clear: both;
  margin: 15px 0 0 0;
  height: 400px;
}

#column-left {
  border: solid 1px;
  width: 30%;
  height: 400px;
  margin: 0 10px 0 0;
  padding: 5px 0 0 5px;
  float: left;
}

#column-right {
  border: solid 1px; 
  width: 65%;
  height: 400px;
  padding: 5px 0 0 5px;
  float: right;
}

#footer {
  clear: both;
  border: solid 1px;
  margin: 15px 0 0 0;
  height: 30px;
  padding: 5px 0 0 5px;
}

#fixed {
  border: solid 1px;
  width: 200px;
  height: 200px;
  padding: 5px 0 0 5px;
  position: fixed;
  right: 15%;
  top: 250px;
  background-color: white;
}